.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    
    background-color: white;
    
  }
  .wrapper {
    padding: 10px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  .postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  
  .postDate{
      font-size: 12px;
  }
  
.center{
    margin: 20px 0;
    
}
.div{
  border: 1px solid red;
  height: 10rem;
}
.postTopRight{
  cursor: pointer;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
   

}
.postVideo{
  margin-top: 20px;
  width: 100%;
  object-fit: cover;

}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
.commentInput{
  width: 24pc;
  margin-left: 10px;
  /* height: 6vh; */
  border: none;
}
.addComment{
  padding: 9px;
  border: none;
  background-color: rgb(14, 106, 14);
  color: white;
  border-radius: 6px;
  margin-left: 39px;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
}
.picker{
  height: 15rem;
  width: 15rem;
  border: 2px solid red;
  object-fit: cover;
  overflow-y: scroll;
  overflow-x: scroll;
}
  
  